{% extends 'main/base.html' %}


{% block main %}
{%load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
    <html lang="en">
        <body>
            <div class="main-frame">
                {% if user.is_authenticated %}
                <div class="add">
                    <a href="/upload" class="add-content">+ Add</a>
                </div>
                {% else %}
                <div class="add">
                    <a href="/upload" class="add-content">Want do add some content? Log in</a>
                </div>
                {% endif %} 
                {%for photo in single_page%}            
                    <div class="main-content-frame">
                        <div class="user-bar">
                            <a href="" class="user">
                                <span class="name">{{photo.owner}}</span>
                            </a>
                        </div>
                        <div class="description-content">
                            <h2>
                                <a href="{% url 'meme' photo.id %}" class="title">{{photo.title}}</a>
                            </h2>
                        </div>
                        <div class="meme-bar">
                            <div class="meme"><a href="{% url 'meme' photo.id %}"><img src="{{photo.picture.url}}" alt="meme"></a></div>
                        </div>
                        <div class="lac">
                            <button type="button" class="like">Like</button>
                            <span class="like-number">+2137</span>
                            <a href="{% url 'meme' photo.id %}"><button type="button" class="like">Comment</button></a>
                        </div>
                    </div>
                {%endfor%}
                <div class="next-side">
                    {% if single_page.has_previous %}
                        <a href="?page={{ single_page.previous_page_number }}" class="page">Previous side</a>
                    {% endif %}
                        <li>Page {{single_page.number}}</li>
                    {% if single_page.has_next %}
                        <a href="?page={{ single_page.next_page_number }}" class="page">Next side</a>
                    {% endif %}   
                </div>                                 
            </div>
        </body>
    </html>
{% endblock main %}
    