{% extends 'main/base.html' %}


{% block main %}
{%load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
    <html lang="en">
        <body>
            <div class="main-frame">
                {% if user.is_authenticated %}
                    <div class="add">
                        <a href="/upload" class="add-content">+ Add</a>
                    </div>
                    {% else %}
                    <div class="add">
                        <a href="/upload" class="add-content">Wanna add meme, log in!</a>
                    </div>
                {% endif %} 
                {%for photo in single_page%}            
                    <div class="main-content-frame">
                        <div class="user-bar">
                            <a href="" class="user">
                                <span class="name">{{photo.owner}}</span>
                            </a>
                        </div>
                        <div class="description-content">
                            <h2>
                                <a href="{% url 'meme' photo.id %}" class="title">{{photo.title}}</a>
                            </h2>
                        </div>
                        <div class="meme-bar">
                            <div class="meme"><a href="{% url 'meme' photo.id %}"><img src="{{photo.picture.url}}" alt="meme"></a></div>
                        </div>
                        <div class="lac">
                            {% if user not in photo.likes.all %}
                            <a href="{% url 'meme' photo.id %}"><button type="submit" class="liked" name="photo_id" value="{{photo.id}}">+ {{photo.likes.all.count}}</button></a>
                            {% else %}
                            <a href="{% url 'meme' photo.id %}"><button type="submit" class="unliked" name="photo_id" value="{{photo.id}}">+ {{photo.likes.all.count}}</button></a>
                            {% endif %} 
                            <a href="{% url 'meme' photo.id %}"><button type="button" class="comment">Comment</button></a>
                        </div>
                    </div>
                {%endfor%}
                <div class="paginating">
                    {% if single_page.has_previous %}
                    <div class="page"><a href="?page={{ single_page.previous_page_number }}" class="page">Previous side</a></div>
                        
                    {% endif %}
                    {% if single_page.has_next %}
                    <div class="page"><a href="?page={{ single_page.next_page_number }}" class="page">Next side</a></div>
                        
                    {% endif %}   
                </div>                                 
            </div>
        </body>
    </html>
{% endblock main %}
    