{% extends 'main/base.html' %}
{%load static%}

{% block single %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/single.css'%}">
    <div class="main-content-frame">
        <div class="user-bar">
            <a href="" class="user">
                <span class="name">{{photo.owner}}</span>
            </a>
        </div>

        <div class="description-content">
            <h2>
                <a class="title">{{photo.title}}</a>
            </h2>
        </div>
        <div class="meme-bar">
            <div class="meme"><img src="{{photo.picture.url}}" alt="meme"></div>
        </div>
        <div class="lac">
            <button type="button" class="like">Like</button>
            <span class="like-number">+2137</span>
            <a href=""><button type="button" class="like">Comment</button></a>
            <h2>Comments:</h2>
                
            
            {% if not photo.allcomments.all %}
                No Comments Yet...
            {% else %}
                
                {% for comment in photo.allcomments.all %}
                    {{comment.owner_name}} - {{comment.body}}

                {% endfor %}
                    
            {% endif %}
                
        </div>
    </div>
{% endblock single %}
    