*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: linear-gradient(135deg, #71687C, black);
}
.add{
    display: flex;
    justify-content: center;
    padding: 50 0 50 0;
}


.main-content-frame{
    margin: auto;
    margin-bottom: 100px;
    width: 90%;
    height: 50%;
    max-width: 750px;
    border-radius: 25px;
    background: #71687C
    
}
.main-content-frame .user-bar{
    border-radius: 25px 25px 0 0;
    background: black;
    max-width: 750px;
    display: flex;
    align-items: center;
    padding-left: 10%;
    height: 40px;
}
.main-content-frame .description-content{
    max-width: 750px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-left: 10%;
}

.main-content-frame .user-bar .name{
    color: green;
    
}

.main-content-frame .description-content .title{
    color: white;
}

.main-content-frame .meme-bar{
    display: flex;
    justify-content: center;
}

.main-content-frame .lac{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next-side{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
