*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: linear-gradient(135deg, #71687C, black);
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content-frame{
    margin-top: 100px;
    max-width: 750px;
    
}
.main-content-frame .user-bar{
    background: black;
    max-width: 750px;
    display: flex;
    align-items: center;
    padding-left: 10%;
    height: 40px;
    margin-bottom: 1%;
}
.main-content-frame .description-content{
    background: black;
    max-width: 750px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10%;
    margin-bottom: 1%;
}

.main-content-frame .user-bar .name{
    color: green;
    
}

.main-content-frame .description-content .title{
    color: white;
}

.main-content-frame .meme-bar img{
    width: 100%;
}

.main-content-frame .like{
    padding-top: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content-frame .like .liked{
    background-color: red;
    min-height: 30px;
    justify-content: center;
    padding: 10px 20px 10px 20px;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
}

.main-content-frame .like .unliked{
    background-color: green;
    min-height: 30px;
    justify-content: center;
    padding: 10px 20px 10px 20px;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
}

.main-content-frame .comments .comment{
    margin-top: 20px;
    vertical-align: middle;
    background: #71687C;
}

#comment_field{
    padding-left: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 10px;
    min-height: 40px;
    justify-content: center;
    width: calc(100% - 160px);
    outline: none;
    color: #fff;
    border: none;
    background: linear-gradient(135deg, #71687C, black);
}

#comment_button{
    position: absolute;
    text-align: center;
    width: calc(100%/2-20px);
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
    outline: none;
    color: #fff;
    border: none;
    background: linear-gradient(135deg, #71687C, black);
}

.main-content-frame .comments .single_comment .owner_name{
    color: green;
    margin-left: 15px;
}
.main-content-frame .comments .single_comment .comment_body{
    color: white;
    margin-left: 15px;
}