.main-content{
    margin-top: 300px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 25px;
    background: black;
}
.main-content .heading{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    text-align: center;
    padding: 0 0 20px 0;
}
.main-content .text-field{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(100%/2-20px);
    margin-bottom: 15px;
}
.main-content .text-field input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.main-content .text-field .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
form .buttons{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .buttons .button input{
    text-align: center;
    width: calc(100%/2-20px);
    margin-bottom: 15px;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
    height: 5%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71687C, black);
}
form .buttons .button button{
    text-align: center;
    width: calc(100%/2-20px);
    margin-bottom: 15px;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
    height: 5%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71687C, black);
}